<mat-card class='about-me-container'>
  <mat-card-title>Hello, my name is Carlos.</mat-card-title>
  <mat-card-content>I go to coffee shops and order tea.</mat-card-content>
  <mat-card-content>I listen to audiobooks on my iPod Nano.</mat-card-content>
  <mat-card-content>My car is a Razor scooter I've had since the fourth grade.</mat-card-content>
  <mat-card-content>I do not know why you are contacting me, but I look forward to our correspondence.</mat-card-content>
  <img mat-card-image-md src=".../../assets/carlos.jpg" alt="Picture of me, Carlos.">
</mat-card>
